/* @media (min-width: 576px) { ... } */

/* // Medium devices (tablets, 768px and up) */
.banner {
    border: 2px solid #330b33;
    height: auto; 
    /* calc(100% - 70px); */
    width: 100vw;
}

.banner > div{
    border: 2px solid #330b33;
}

.banner-text-left {
    background-image: url("../../img/2.jpg");
    background-size: cover;
    color: white;
    height: 90vh;
    text-align: center;
}
.banner-text-left h2{
    margin-top: 2em;
}
.banner-text-right{
    height: 300px;
}

@media only screen and (max-width: 600px) {
    /* p {
        background-color: lightblue;
    } */
    /* .show {
        display: block;
    } */
}

.secColor {
    color: #c288d0
}
#nav {
       background-color: #1b0213 !important;
}


.navbar-dark .navbar-toggler {
    border-color:rgba(255, 255, 255, 0)
}

.section-body{
    height: 100vh;
}

.footer{
    height: 10em;
    color: aliceblue;
    background-color: #1b0213;
    width: 100vw;
    /* position: absolute; */
    /* bottom: 0em; */
}

.footer .rights{ 
    text-align: center;
    /* position: absolute;  */
    /* bottom: 0px; */
    left: calc(50% - 75px);
}

